body{
 background-image: url();
 background-repeat: no-repeat;
 background-size: contain;
}
#img1{
    width: 3cm;
    height: 3cm;
    
}
#bttN{
    font-size: large;
    background-color: green;
}
#bttW{
    font-size: large;
    background-color: darkgreen;
}
#MKR1{
    background-color:red ;
}
#MKRN {
    background-color: lightgreen;
}
#MKRNLV{
    background-color: yellow;


}
#MKRNR{
    background-color: red;
}
#btto{
    font-size: large;
    background-color: green;
}
img{
    width: 5cm;
    height: 5cm;
    background-color: white;
}
mark{
    background-color: lightgreen;
}
#imgW{
    height: 1cm;
    width: 1cm;
    margin: 1cm;
}
input{
    font-size: large;
}
nav{
    
}